<div class="container-fluid" style="height: 90vh;background-color: lightblue">
  <div class="row d-flex justify-content-center">
    <p class="text-center col-6 mt-3">
      <img src="https://cdn1.iconfinder.com/data/icons/logistics-delivery-line-vol-1-1/74/barcode__scanning__gun__electronics-512.png"
           class="img-fluid" width="250px">
    </p>
    <br>
    <div class="col-12 text-center display-1 " >
      <a class="btn btn-lg blue-bg-color text-white" href="/picker/scan"> Start </a>
    </div>

  </div>
</div>


