body{
  background-color: darkgoldenrod!important;
}


.snackbar-danger{
  background-color: red!important;
  color: white!important;
}

.glass{
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
body{
  /* From https://css.glass */
  background: rgba(255, 117, 20, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 117, 20, 0.27);
}
