<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <h3 class="orange-color display-6 mt-1">
    Supervisor dashboard
  </h3>
<hr>
  <div class="container mt-3">
   <div class="row d-flex justify-content-around">
     <div class="col-4 card p-3 shadow-sm">
       <h4 class="card-title blue-color">Info</h4>
       <form class="row" >
         <div class="col-12 mt-1">
           <label>Fx-reference</label>
           <select class="form-select" aria-label="Default select example">
               <option value="1">One</option>
             <option value="2">Two</option>
             <option value="3">Three</option>
           </select>
         </div>
         <div class="col-12 mt-1">
           <label>Start time</label>
           <input type="datetime-local" class="form-control" name="" >
         </div>
         <div class="col-12 mt-1">
           <label>End time </label>
           <input type="datetime-local" class="form-control" name="" >
         </div>
         <div class="col-12 mt-1">
           <label>Vsm head of count</label>
           <input type="number" class="form-control" name="" >
         </div>
         <div class="col-12 mt-1">
           <label>Actual head of count</label>
           <input type="number" class="form-control" name="" >
         </div>
       </form>
     </div>
     <div class="col-7 card shadow-sm">

     </div>
   </div>
  </div>
  <div class="row">
    <div class="col-4 card shadow-sm">

    </div>

    <div class="col-4 card shadow-sm">

    </div>

    <div class="col-4 card shadow-sm">

    </div>

  </div>
</main>
