html,
body {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

/* You can add global styles to this file, and also import other style files */
.blue-color{
color: #002857!important;
}

.blue-bg-color{
  background-color: #002857!important;
}

.orange-bg-color{
  background-color:  #ff76146d!important;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(115, 115, 115, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.orange-border{
  border: solid 2px #ff7514;
}
.blue-border{
  border: solid 2px #002857;
}

.orange-bg-color-light{
  background-color: rgb(255, 117, 20) !important;
}

.orange-color{
  color:  rgb(255, 117, 20) !important;
}

.light-blue-color{
  color :#00b2ff
}

.light-blue-bg-color{
  background-color :#00b2ff
}
.light-blue-color-border{
  border : solid 2px #00b2ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bk-glass-blue{
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(54, 162, 235, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bk-glass-orange{
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 165, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bk-glass-blue-2{
  /* From https://css.glass */
  /* From https://css.glass */
  background: #0a53be;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}



.hide-stepper-indicators .mat-step-header .mat-step-icon {
  /*display: none;*/
  pointer-events: none;
  background-color: #002857;
  position: absolute;
  bottom: 30px;
}
.mat-horizontal-stepper-header-container{
  /*display: none;*/
  pointer-events: none;
}
.hide-stepper-indicators{
  /*display: none;*/
  /* pointer-events: none;
  background-color: #002857; */
  /* position: absolute; */
  bottom: 30px;
  height: 80%;
}

body{
  background: rgba(54, 162, 235, 0.1);
}

/* .mat-mdc-snack-bar-container.danger-snackbar {
  --mdc-snackbar-container-color: #f32121b0;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-mdc-snack-bar-action-color: #fff;
  color: white !important; 
  background-color: #f32121b0;
  scale: 2.5;
}

.mat-mdc-snack-bar-container.danger-snackbar * {
  color: white !important; 
  text-align: center;
}

.mat-mdc-snack-bar-container {
  position: relative !important;
  top: 10rem !important;
}

 */





.white-glass{
background: rgba( 255, 255, 255, 0.7 );
box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.primary-glass{

  background: rgba( 13, 110, 253, 1);
box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.info-glass{
  background: rgba( 13, 202, 240, 1 );
box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.success-glass{
  background: rgba( 25, 135, 84, 1 );
box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.danger-glass{
  background: rgba( 208, 2, 27, 0.7 );
box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.warning-glass{
  background: rgba( 255, 193, 7, 0.5 );
box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 23px );
-webkit-backdrop-filter: blur( 23px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgba(123, 174, 250, 0.1);
}
