<div class="h-100">
  <main class="container-fluid my-auto h-100">
    <app-display-top-info />
    <section class="col-12 mt-3">
      <div class="row  d-flex justify-content-around">
        <mat-card class="col-lg-2 primary-glass text-white">
          <mat-card-title class="text-center ">
            Shift Target
          </mat-card-title>
          <mat-card-content>
            <h1 class="text-center fw-blod   m-2  p-3" style="transform: scale(1.3);">{{ getOpbjectif() }}</h1>
          </mat-card-content>
        </mat-card>

        <mat-card class="col-lg-2 text-white info-glass ">
          <mat-card-title class="text-center ">
            Expected
          </mat-card-title>
          <mat-card-content>
            <h1 class="text-center m-2 p-3"
                style="transform: scale(1.3);">{{ calculateExpected() | number: '1.0-0' }}</h1>
          </mat-card-content>
        </mat-card>

        <mat-card [class]="getDeliveredClass()" class="col-lg-2 text-white">
          <mat-card-title class=" text-center ">
            Delivered
          </mat-card-title>
          <mat-card-content>
            <h1 class="text-center fw-blod m-2 p-3"
                style="transform: scale(1.3);">{{ totalQuantity ? totalQuantity : 0 }}</h1>
          </mat-card-content>
        </mat-card>

        <mat-card class="col-lg-2 warning-glass text-white">
          <mat-card-title class="text-center ">
            Gap
          </mat-card-title>
          <mat-card-content>
            <h1 class="text-center m-2 p-3" style="transform: scale(1.3);">

                <span *ngIf="getEcartColorAndArrow().arrow"
                      [ngClass]="getEcartColorAndArrow().colorClass"
                      class="">
                 {{ getFormattedDifference() }}
                  {{ getEcartColorAndArrow().arrow }}
                </span>
            </h1>
          </mat-card-content>
        </mat-card>

        <mat-card class="col-lg-2   white-glass">
          <mat-card-title class="blue-color text-center ">
            In progress
          </mat-card-title>
          <mat-card-content>
            <h1 class="text-center fw-blod orange-color m-2 p-3"
                style="transform: scale(1.3);">{{ InProgress ? InProgress : 0 }}</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </section>

    <section class="container-fluid mt-4 px-3" style="transform: scale(1.5rem);">

      <!-- Remove this -->
      <div class="row  bk-glass-blue d-flex justify-content-around ">

        <!-- END: Remove this -->


        <!-- HarnessLeftGraph -->
        <mat-card class="col-lg-6 white-glass shadow-sm">
          <mat-card-title class="blue-color text-center fw-light">
            Effeciency per Hour
          </mat-card-title>
          <mat-card-content>
            <canvas id="effeciencyChart" style="height: auto;"></canvas>
          </mat-card-content>
        </mat-card>

        <!-- HarnessRightGraph -->
        <mat-card class="col-lg-6 white-glass shadow-sm">
          <mat-card-title class="blue-color text-center fw-light">
            Harness per Hour
          </mat-card-title>
          <mat-card-content>
            <canvas id="hourlyQuantityChart" style="height: auto;"></canvas>
          </mat-card-content>
        </mat-card>
      </div>
    </section>

    <section class="container-fluid mt-4 px-5">
      <div class="row d-flex justify-content-around">

        <div class="col-6 d-flex justify-content-center">
          <mat-card class=" blue-bg-color text-white  col-6 ">
            <mat-card-title class="text-center  ">
              Efficiency
            </mat-card-title>
            <mat-card-content class="my-auto  ">
              <h1 class="text-center my-3" style="transform: scale(1.3);">{{ efficiency.getValue() | number: '1.2-2' }}
                %</h1>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="white-glass col-lg-6  row justify-content-around">
          <mat-card-title class="blue-color fw-blod my-auto text-center ">
            <h2 class="fw-blod d-flex justify-content-around my-auto">
              <span>Quantity per reference</span>
            </h2>
          </mat-card-title>
          <div *ngFor="let count of countFxPerRef   " class="col-6 p-2 rounded-2">
            <mat-card [class]="count.total_quantity > 0 ? '' : 'bg-danger-subtle'"
                      class="my-1 orange-color fw-blod d-flex border  rounded-3 ">
              <div class="d-flex justify-content-around">
                <h3 class="fw-bold text-orange my-auto">{{ count.code_fournisseur + '  ' }}</h3>
                <h3
                  [class]="count.total_quantity > 0 ? 'light-blue-color' : 'text-danger'">{{ '     ' + count.total_quantity }} </h3>
              </div>
            </mat-card>
          </div>
        </div>

      </div>
    </section>
    <footer class="container-fluid mt-3 ">
      <p class="blue-color ">Created by<span class="orange-color">   <a
        href="https://www.leoni.com/">Leoni, Berrechid.</a></span> © 2024–2025</p>
    </footer>
  </main>

</div>
