<div class="h-100">
  <main class="container-fluid my-auto h-100">
    <app-display-top-info />
    <app-display-top-cards [filters]="graphFilters" />
    <section
      class="container-fluid mt-4 px-5 row d-flex justify-content-around gap-4"
    >
      <mat-card class="col-lg-6 row">
        <app-display-efficiency-graph [filters]="graphFilters" />
      </mat-card>
      <mat-card class="col-lg-6 row">
        <app-display-output-graph [filters]="graphFilters" />
      </mat-card>
    </section>

    <section
      class="container-fluid mt-4 px-5 row d-flex justify-content-around gap-4"
    >
      <mat-card class="col-lg-6 row">
        <app-display-efficiency-gauge [filters]="graphFilters" />
      </mat-card>
      <mat-card class="col-lg-6 row">
        <app-display-output-per-ref [filters]="graphFilters" />
      </mat-card>
    </section>

    <footer class="container-fluid mt-1">
      <p class="blue-color">
        Created by
        <a style="text-decoration: none" href="https://www.leoni.com/"
          >Leoni, Berrechid.</a
        >
        © 2024-2025
      </p>
    </footer>
  </main>
</div>
