<div class="h-100" >
  <main class="container-fluid my-auto h-100">
    <div class=" row my-auto" >
      <div class="col-lg-12 orange-bg-color fw-blod shadow-sm mb-1 py-auto" >
        <div class="card-body py-3  d-flex justify-content-around">
          <h4 class="text-center light-blue-color d-flex justify-content-around  my-auto white-glass p-2">
            <span class="fw-bold mx-auto  orange-color"> {{currentTime | date: 'dd/MM/yyyy  HH:MM:SS'}} </span> 
          </h4>
          <h4 class="text-center light-blue-color d-flex justify-content-around  my-auto white-glass p-2">
            <span class="blue-color">Project : </span>
            <span class="mx-1 orange-color "> P21</span>
          </h4>
          <h4 class="text-center  light-blue-color d-flex justify-content-around  my-auto white-glass p-2">
            <span class="blue-color ">Line :</span>
            <span class="orange-color mx-1 ">PPL - line 1</span>
          </h4>
          <h4 class="text-center  light-blue-color d-flex justify-content-around  my-auto white-glass p-2">
            <span class="blue-color">Operators:</span>
            <span class="orange-color mx-2">{{ storageService.getItem('line_disply_operatores') }}</span>
          </h4>
          <h4 class="text-center light-blue-color d-flex justify-content-around  my-auto white-glass p-2">
            <span class="blue-color">Standard Time:</span>
            <span class="orange-color mx-1">{{ storageService.getItem('line_display_rangeTime') }}h</span>
          </h4>
          <h5 (click)="printReport()"
            class="text-center d-flex blue-color justify-content-start   my-auto no-print white-glass p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff7514" class="bi bi-printer-fill  my-auto mx-2" viewBox="0 0 16 16">
              <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8h3a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
              <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2h3a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
            </svg>Print the report
          </h5>
          <h5 (click)="openDialog()"
            class="no-print text-center blue-color d-flex justify-content-start  my-auto white-glass p-2 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff7514" class="bi bi-gear-fill py-auto my-auto mx-2" viewBox="0 0 16 16">
              <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
            </svg> Settings
          </h5>
          <a href="/" class="no-print nav-link text-center blue-color d-flex justify-content-start  my-auto white-glass p-2 ">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff7514" class="bi bi-house-up-fill" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 1 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.707l1.5-1.5a.5.5 0 0 1 .708 0Z"/>
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293z"/>
              </svg> 
          </a>
        </div >
      </div>   
    </div>
    <section class="col-12 mt-3">
      <div class="row  d-flex justify-content-around">
        <mat-card class="col-lg-2 primary-glass text-white">
          <mat-card-title class= "text-center ">
            target
          </mat-card-title>
          <mat-card-content>
            <h1 class="text-center fw-blod   m-2  p-3" style="transform: scale(1.3);">{{ getOpbjectif() }}</h1>
          </mat-card-content>
        </mat-card>
        
        <mat-card class="col-lg-2 text-white info-glass ">
          <mat-card-title class="text-center ">
            Expected
          </mat-card-title>
          <mat-card-content>
            <h1 class="text-center m-2 p-3" style="transform: scale(1.3);">{{ calculateExpected() | number: '1.0-0' }}</h1>
          </mat-card-content>
        </mat-card>
    
        <mat-card class="col-lg-2   white-glass">
          <mat-card-title class="blue-color text-center ">
            In progress
          </mat-card-title>
          <mat-card-content >
            <h1 class="text-center fw-blod orange-color m-2 p-3" style="transform: scale(1.3);">{{ InProgress }}</h1>
          </mat-card-content>
        </mat-card>
    
        <mat-card class="col-lg-2 text-white" [class]="getDeliveredClass()">
          <mat-card-title class=" text-center ">
            Delivered
          </mat-card-title>
          <mat-card-content>
            <h1 class="text-center fw-blod m-2 p-3" style="transform: scale(1.3);">{{ totalQuantity ? totalQuantity : 0}}</h1>
          </mat-card-content>
        </mat-card>
            
          <mat-card class="col-lg-2 warning-glass text-white" >
            <mat-card-title class="text-center ">
              Difference
            </mat-card-title>
            <mat-card-content >
              <h1 class="text-center m-2 p-3" style="transform: scale(1.3);">
                
                <span class="" 
                 [ngClass]="getEcartColorAndArrow().colorClass"
                 *ngIf="getEcartColorAndArrow().arrow">
                 {{ getFormattedDifference() }}
                 {{ getEcartColorAndArrow().arrow }}
                </span>
              </h1>
            </mat-card-content>
          </mat-card>
      </div>  
    </section>
    
    <section class="container-fluid mt-4 px-3" style="transform: scale(1.5rem);" >
      <div class="row  bk-glass-blue d-flex justify-content-around " >
        <div class=" col-lg-6 rounded   row justify-content-around "  >
          <mat-card-title class="blue-color  my-auto  ">
            <h2 class="d-flex justify-content-around my-auto">
               Harness per hour
             </h2>
          </mat-card-title>
          <!-- <div class="col-6  rounded-4 overflow-hidden" *ngFor="let count of countFxPerHour   ">
            <mat-card  class="overflow-hidden orange-color fw-blod d-flex  shadow-sm rounded-4 shadow-sm  "  
            [class]="count.total_quantity > 0 ? '' : 'bg-danger-subtle'"  >
              <div class="d-flex justify-content-around shadow-lg border">
              <h3  class=" blue-color my-auto fw-blod">
                {{count.hour+'h ' }} 
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#00b2ff" class="mx-2 bi bi-arrow-right fw-bold" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>   
    
                {{(count.hour+1)}}h
              </h3>
              <h2 [class]="count.total_quantity > 0 ? 'text-orange' : 'text-danger'" >
                {{'     '+count.total_quantity}}
              </h2>
              </div>
            </mat-card >
          </div> -->
        </div>
        <mat-card class="col-lg-6 white-glass"  >
          <mat-card-content >
            <canvas id="hourlyQuantityChart" style="height: auto;" ></canvas>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
      
    <section class="container-fluid mt-4 px-5">
      <div class="row d-flex justify-content-around">
        <div class="white-glass col-lg-6  row justify-content-around"  >
          <mat-card-title class="blue-color fw-blod my-auto text-center ">
            <h2 class="fw-blod d-flex justify-content-around my-auto">
               <span >Quantity per Reference</span>
             </h2>
          </mat-card-title>
          <div class="col-6 p-2 rounded-2" *ngFor="let count of countFxPerRef   ">
            <mat-card class="my-1 orange-color fw-blod d-flex border  rounded-3 "  [class]="count.total_quantity > 0 ? '' : 'bg-danger-subtle'"  >
              <div class="d-flex justify-content-around">
              <h3  class="fw-bold text-orange my-auto">{{count.Code_fournisseur+'  ' }}</h3>    
              <h3 [class]="count.total_quantity > 0 ? 'light-blue-color' : 'text-danger'" >{{'     '+count.total_quantity}} </h3>
              </div>
            </mat-card>
          </div>
        </div>
    
        <div class="col-6 d-flex justify-content-center">
    
          <mat-card class=" blue-bg-color text-white  col-6 ">
            <mat-card-title class="text-center  ">
              Efficiency
            </mat-card-title>
            <mat-card-content class="my-auto  ">
              <h1 class="text-center my-3" style="transform: scale(1.3);">{{ calculateEfficiency() | number: '1.2-2' }}%</h1>
            </mat-card-content>
          </mat-card>
        </div>  
      </div>
    </section>
    <footer class="container-fluid mt-3 ">
      <p class="blue-color ">Created by<span class="orange-color">  test technology team</span><br>  © 2024–2025 <a href="https://www.leoni.com/">Leoni, Berrechid.</a></p>
    </footer>
    </main>

</div>