<div class="container">
  <div class="row">
    <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-align-tabs="center" mat-stretch-tabs="false">
      <mat-tab label="Packages">
        <div class="mt-3">
          <h5 class="orange-color"> Packges</h5>
          <input (keyup)="applyFilter1($event)" class="mat-elevation-z1 form-control border-warning border-1 my-2"
                 matInput placeholder="Ex. ium">

          <div class="mat-elevation-z1">
            <table [dataSource]="packagingDataSource" mat-table matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th *matHeaderCellDef mat-header-cell>
                  <mat-checkbox (change)="$event ? selectAll() : null"
                                [checked]="isAllSelected()"
                                [indeterminate]="isIndeterminate()"
                                color="primary"></mat-checkbox>
                </th>
                <td *matCellDef="let row" mat-cell>
                  <mat-checkbox (change)="$event ? toggleSelection(row) : null"
                                (click)="$event.stopPropagation()"
                                [checked]="selection.isSelected(row)"
                                color="primary">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Barcode Column -->
              <ng-container matColumnDef="barcode">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> BarCode</th>
                <td *matCellDef="let row" mat-cell> {{ row.barcode }}</td>
              </ng-container>

              <!-- To be Delivered Quantity Column -->
              <ng-container matColumnDef="to_be_delivered_quantity">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> To be Delivered</th>
                <td *matCellDef="let row" mat-cell> {{ row.to_be_delivered_quantity }}</td>
              </ng-container>

              <!-- Delivered Quantity Column -->
              <ng-container matColumnDef="delivered_quantity">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> Delivered</th>
                <td *matCellDef="let row" mat-cell> {{ row.delivered_quantity }}</td>
              </ng-container>

              <!-- Harness Ref Column -->
              <ng-container matColumnDef="harness_ref">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> Harness Ref</th>
                <td *matCellDef="let row" mat-cell> {{ row.harness.ref }}</td>
              </ng-container>

              <!-- Line Name Column -->
              <ng-container matColumnDef="line_name">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> Line Name</th>
                <td *matCellDef="let row" mat-cell> {{ row.line.name }}</td>
              </ng-container>


              <ng-container matColumnDef="Progress">
                <th *matHeaderCellDef class="blue-color" mat-header-cell> Progress</th>
                <td *matCellDef="let element" [class]="getPercentageColor((element.delivered_quantity) / element.to_be_delivered_quantity * 100)"
                    mat-cell>
                  {{ (element.delivered_quantity) / element.to_be_delivered_quantity * 100 }} %
                </td>
              </ng-container>


              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell> Action</th>
                <td *matCellDef="let row" mat-cell>
                  <mat-menu #menu="matMenu">
                    <button (click)="deletePackage(row)" mat-menu-item>Delete</button>
                  </mat-menu>
                  <button [matMenuTriggerFor]="menu" class="btn btn-outline-warning p-1" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

              <!-- Row shown when there is no matching data. -->
              <tr *matNoDataRow class="mat-row">
                <td class="mat-cell" colspan="7">No data matching the filter</td>
              </tr>
            </table>
            <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 25, 100]"
                           aria-label="Select page of packages"></mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Harnesses">

        <div>
          <!-- Second Table -->
          <!-- <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter2($event)" placeholder="Ex. ium" #input>
          </mat-form-field> -->

          <h5 class="orange-color ">
            Harnesses
          </h5>
          <input (keyup)="applyFilter2($event)" class="mat-elevation-z1   form-control border-warning border-1 my-2"
                 matInput placeholder="Ex. ium">

          <div class="mat-elevation-z1">
            <table [dataSource]="harnessesDataSource" mat-table matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th *matHeaderCellDef mat-header-cell>
                  <mat-checkbox (change)="$event ? selectAllHarnesses() : null"
                                [checked]="isAllHarnessesSelected()"
                                [indeterminate]="isHarnessesIndeterminate()"
                                color="primary"></mat-checkbox>
                </th>
                <td *matCellDef="let row" mat-cell>
                  <mat-checkbox (change)="$event ? toggleHarnessSelection(row) : null"
                                (click)="$event.stopPropagation()"
                                [checked]="harnessSelection.isSelected(row)"
                                color="primary">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- UUID Column -->
              <ng-container matColumnDef="uuid">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> UUID</th>
                <td *matCellDef="let row" mat-cell> {{ row.uuid }}</td>
              </ng-container>

              <!-- Ref hraness Column -->
              <ng-container matColumnDef="ref">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> Referance</th>
                <td *matCellDef="let row" mat-cell> {{ row.harness ? row.harness.ref : "N/A" }}</td>
              </ng-container>
              <!-- Box Number Column -->
              <ng-container matColumnDef="box_number">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> Box Number</th>
                <td *matCellDef="let row" mat-cell> {{ row.box_number }}</td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th *matHeaderCellDef class="blue-color " mat-header-cell> Status</th>
                <td *matCellDef="let element" mat-cell>
                <span [class]="getStatusClass(element.status)" style="font-size: 0.7rem">
                  {{ getStatus(element.status) }} </span>
                </td>
                <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header class="blue-color"> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td> -->
              </ng-container>
              <!-- date column  -->
              <ng-container matColumnDef="date">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> Created at</th>
                <td *matCellDef="let element" mat-cell> {{ element.created_at | date : 'dd/MM/yyyy HH:mm:ss' }}</td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell> Action</th>
                <td *matCellDef="let row" mat-cell>
                  <mat-menu #menu="matMenu">
                    <button (click)="deleteHarness(row)" mat-menu-item>Delete</button>
                  </mat-menu>
                  <button [matMenuTriggerFor]="menu" class="btn btn-outline-warning p-1" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
              </ng-container>


              <tr *matHeaderRowDef="harnessesDisplayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: harnessesDisplayedColumns;" mat-row></tr>

              <!-- Row shown when there is no matching data. -->
              <tr *matNoDataRow class="mat-row">
                <td class="mat-cell" colspan="5">No data matching the filter</td>
              </tr>
            </table>

            <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 25, 100]"
                           aria-label="Select page of harnesses"></mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Users">
        <div class="mat-elevation-z1">
          <div class="mt-3 ">
            <!-- <div class="row"> -->
            <h5 class="orange-color col-9"> Users</h5>
            <button (click)="addUser()" class="btn text-white  orange-bg-color col-1 btn-sm mx-5"> New user</button>
            <!-- </div> -->

            <input (keyup)="applyFilter1($event)"
                   class="mat-elevation-z1 form-control border-warning border-1 my-2 col-8"
                   matInput
                   placeholder="Ex. ium">
          </div>
          <div class="mat-elevation-z8 shadow-sm">
            <table [dataSource]="userDataSource" class="mat-elevation-z8 shadow-sm" mat-table matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th *matHeaderCellDef mat-header-cell>
                  <mat-checkbox (change)="$event ? selectAll() : null"
                                [checked]="isAllSelected()"
                                [indeterminate]="isIndeterminate()"
                                color="primary"></mat-checkbox>
                </th>
                <td *matCellDef="let row" mat-cell>
                  <mat-checkbox (change)="$event ? toggleSelection(row) : null"
                                (click)="$event.stopPropagation()"
                                [checked]="selection.isSelected(row)"
                                color="primary">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Barcode Column -->
              <ng-container matColumnDef="fullName">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> Full-name</th>
                <td *matCellDef="let row" mat-cell> {{ row.username }}</td>
              </ng-container>

              <!-- To be Delivered Quantity Column -->
              <ng-container matColumnDef="role">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header>Role</th>
                <td *matCellDef="let row" [ngClass]="row.role == 'operator' ? 'text-primary':'text-warning'"
                    mat-cell> {{ row.role }}
                </td>
              </ng-container>

              <!-- Delivered Quantity Column -->
              <ng-container matColumnDef="matriculate">
                <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> Matriculate</th>
                <td *matCellDef="let row" mat-cell> {{ row.matriculate }}</td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell> Action</th>
                <td *matCellDef="let row" mat-cell>
                  <mat-menu #menu="matMenu">
                    <button (click)="deleteUser(row)" mat-menu-item>Delete</button>
                  </mat-menu>
                  <button [matMenuTriggerFor]="menu" class="btn btn-outline-warning p-1" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="userDisplayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: userDisplayedColumns;" mat-row></tr>

              <!-- Row shown when there is no matching data. -->
              <tr *matNoDataRow class="mat-row">
                <td class="mat-cell" colspan="7">No data matching the filter</td>
              </tr>
            </table>
          </div>

          <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 25, 100]"
                         aria-label="Select page of packages"></mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>


  </div>
</div>
