<div class="container-fluid h-100"  style="background:url('/assets/images/packaging-home.webp');background-size: cover;background-repeat: no-repeat;">
    <div class="row d-flex justify-content-start text-center p-4 my-auto py-auto   ">
        <div class="col-6 mx-5 bk-glass-blue orange-color p-3 mt-3 ">
            <h1 class="card-title" ><a href="/packaging/scan">Packaing</a></h1>
        </div>
        <div class="col-6 mx-5 bk-glass-blue orange-color p-3 mt-3 ">
            <h1 class="card-title" ><a href="/packaging/report">Display</a></h1>
        </div>
        <div class="col-6 mx-5 bk-glass-blue orange-color p-3 mt-3 " *ngIf="isAdmin === 'admin'">
            <h1 class="card-title" ><a href="/packaging/data"  >Data</a></h1>
        </div>
        <div class="col-6 mx-5 bk-glass-blue orange-color p-3 mt-3 "  *ngIf="isAdmin === 'admin'">
            <h1 class="card-title" ><a href="/packaging/settings">Settings</a></h1>
        </div>
    </div>

      
</div>