::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ff7614c2;
    
  }
  

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #002857;
    height: 5px;
  }

  .white-glass{
    background: rgba( 255, 255, 255, 0.7 );
   
   backdrop-filter: blur( 13px );
   -webkit-backdrop-filter: blur( 13px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   }