.navbar{
  background: rgba(0, 40, 87, 0.77);
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
}

.custom-snackbar  .mdc-snackbar__label , .mdc-snackbar__surface , mdc-button__label{
  padding: 10px 20px; /* Adjust the padding as needed */
  font-size: 100px; /* Adjust the font size as needed */
  min-width: 300px; /* Adjust the minimum width as needed */
  max-width: 500px;
  background-color: #ffa500 !important;
  color:  #ffffff!important;
  border-radius: 10px!important;
  padding: 30px;
}
.mdc-snackbar__surface{
  margin-bottom: 200px;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-size: 1.3rem!important;
}

