<div class="m-3 p-3 bk-blue">
    <form [formGroup]="addUserForm">
      <h5 class="card-title orange-color mb-4">Add new User </h5>
      <div class="card-body px-5 my-2">
        <div class="mb-3">
          <label for="line_disply_operatores" class="form-label blue-color">User name</label>
          <input
            type="text"
            class="form-control"
            id="line_disply_opera5tores"
            formControlName="userName"
          />
          <div *ngIf="addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched">
            <small class="text-danger">User name are required</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="matriculate" class="form-label blue-color"
            > Matriculate</label
          >
          <input
            type="number"
            step="0.1"
            class="form-control blue-color"
            id="matriculate"
            formControlName="matriculate"
          />
          <div *ngIf="addUserForm.get('matriculate')?.invalid && addUserForm.get('matriculate')?.touched">
            <small class="text-danger">Matriculate is required</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label blue-color">Password</label>
          <input
            type="number"
            step="0.1"
            class="form-control blue-color"
            id="password"
            formControlName="password"
          />
          <div *ngIf="addUserForm.get('password')?.invalid && addUserForm.get('password')?.touched ">
            <small class="text-danger">Password is required</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="passwordConfirm" class="form-label blue-color">Confirm password</label>
          <input
            type="number"
            step="0.1"
            class="form-control blue-color"
            id="passwordConfirm"
            formControlName="passwordConfirm"
          />
          <div *ngIf="addUserForm.get('passwordConfirm')?.invalid && addUserForm.get('passwordConfirm')?.touched">
            <small class="text-danger">Password is required</small>
          </div>

          <div *ngIf="addUserForm.get('password')?.value != addUserForm.get('passwordConfirm')?.value">
            <small class="text-danger">Password is not matched</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="role" class="form-label blue-color">Role</label>
          <select
            class="form-control"
            id="line_disply_efficiency"
            formControlName="role"
          >
            <option value="admin">Admin</option>
            <option value="operator">Operator</option>
          </select>
          <div *ngIf="addUserForm.get('role')?.invalid && addUserForm.get('role')?.touched ">
            <small class="text-danger">Role is required</small>
          </div>
        </div>
        <div class="d-flex justify-content-end w-100 text-end">
          <button
            class="btn blue-bg-color text-white"
            (click)="addNewUser()"
            type="button"
          >
            Add
          </button>
          <button
            class="btn btn-danger bk-glass-blue mx-3"
            (click)="closeDialog()"
            type="button"
          >
            Close
          </button>
        </div>
      </div>
    </form>
  </div>
  